.site-header{
    background-color: $black-color;    
    -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);

    .wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    .site-nav-web{
        margin-left: auto;

        a{
            color: $text-color;
            font-size: 12px;
            display: inline-block;
            padding: 1.6em 2em 1.3em;
            border-bottom: 0.3em solid transparent;

            &.active{
                border-bottom: 0.3em solid $brand-color;               
            }
        }
    }

    .title{      
    
        img{
            max-width: 300px;
            margin-bottom: -4em;
            margin-top: 1em;
        }
    }

    .social{
        padding: 1.2em;
       
        .fit{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    
    
        .twitter, .facebook, .youtube{
            cursor: pointer;
            transition: 0.1s all ease-in-out;
            fill: $text-color;
            svg{
                height: 1.5em;
                fill: $text-color;
                margin: 0 1em;
            }
        }

        .twitter:hover{
            svg{
               
                    transition: 0.1s all ease-in-out;
                    fill: #1da1f2;
               
            }
        }

        .facebook:hover{
            svg{               
                transition: 0.1s all ease-in-out;
                fill: #3b5998;                
            }
        }

        .youtube:hover{
            svg{                
                transition: 0.1s all ease-in-out;
                fill: #ff0000;               
            }
        }
    }
}

.hero{
    background: url(../assets/hero.png) no-repeat center center fixed; 
    background-position-y: -11.8em;
    -webkit-background-size: cover;
    -moz-background-size: cover;   
    width: 100%;
    height: 39.5em;
}

.hero-overlay{
    width: 100%;        
    background-color: rgba(0,0,0,0);

    .hero-text{
        display: flex;
        justify-content: space-between;
        padding: 0.5em 3em 0.5em 4em;
        float: right;     
        background-color: $pink-color;
        transform: skew(15deg) translateZ(0);
        margin-right: -6em;  
        transition: 0.1s all ease-in-out;  
        border-left: 0 solid $text-color;     
        cursor: pointer;  

        &:hover{
            margin-right: -2em;  
            transition: 0.1s all ease-in-out;  
            border-left: 1em solid $text-color;          
        }

        .text{
            margin-right: 2em;
            .hc-logo{
                transform: skew(-15deg) translateZ(0);
                margin: auto;
                width: 10em;
                display: block;
            }
    
            span.by-line{
                transform: skew(-15deg) translateZ(0);
                display:block;               
                text-align: center;
                color: $text-color;
                font-size: 14px;
                padding-bottom: 1em;            
            }
        }
     
        
        .more{
            -webkit-animation: leftarrow 0.6s infinite alternate ease-in-out;
            svg{
                width: 3em;
                transform: skew(-15deg) translateZ(0);
                fill: $text-color;
                
            }
        }
        
    }
}

.home{
    .beta-signup{
        color: $text-color;
        font-size: 48px;
        text-align: center;
        display: block;
        padding: 1em;
    }

    .subscribe{
        text-align: center;
        font-size: 0;
        
        .email{
            font-size: 18px;
            width: 50%;
            border: 2px solid $text-color;
            padding: 0.5em 1em;
            outline: 0;
        }

        .subscribe{
            font-size: 18px;
            border: none;
            padding: 0.5em 2em;
            border: 2px solid $pink-color;
            background-color: $pink-color;
            color: $text-color;           
            text-transform: uppercase;
            cursor: pointer;
        }
    }
}

.body{
    padding: 3em
}