.site-header{
    background-color: $black-color;    
    -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);

    .wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    .site-nav-web{
        margin-left: auto;

        a{
            color: $background-color;
            font-size: 12px;
            display: inline-block;
            padding: 1.6em 2em 1.3em;
            border-bottom: 0.3em solid transparent;

            &.active{
                border-bottom: 0.3em solid $brand-color;               
            }
        }
    }

    .title{      
    
        img{
            max-width: 300px;
            margin-bottom: -4em;
            margin-top: 1em;
        }
    }

    .social{
        padding: 1.2em;
       
        .fit{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    
    
        .twitter, .facebook, .youtube{
            cursor: pointer;
            svg{
                height: 1.5em;
                fill: $background-color;
                margin: 0 1em;
            }
        }

        .twitter:hover{
            svg{
               
                    transition: 0.2s all ease-in-out;
                    fill: #1da1f2;
               
            }
        }

        .facebook:hover{
            svg{               
                transition: 0.2s all ease-in-out;
                fill: #3b5998;                
            }
        }

        .youtube:hover{
            svg{                
                transition: 0.2s all ease-in-out;
                fill: #ff0000;               
            }
        }
    }
}

.hero{
    background-image: url(../assets/hero.png);
    background-image-size-y: 120%;
    background-repeat: no-repeat;
    background-position-y: -5.8em; 
    background-position-x: center;
    width: 100%;
    height: 29.6em;
}

.hero-overlay{
    width: 100%;        
    background-color: rgba(0,0,0,0);

    .hero-text{
        padding-top: 2em;
        background-color: $pink-color;

        h1{
            text-align: center;
            color: $background-color;
            font-size: 48px;
        }

        span.by-line{
            display:block;               
            text-align: center;
            color: $background-color;
            font-size: 18px;
            padding-bottom: 2em;
        }
    }
}

.home{
    .social{
        padding: 1em;
        background-color: $brand-color;
    
        .social-text{
            color: $background-color;
            display: block;
            font-size: 32px;
            margin-right: 1em;
        }

        .fit{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    
    
        .twitter, .facebook, .youtube{
            cursor: pointer;
            svg{
                height: 4em;
                fill: $background-color;
                margin: 0 1em;
            }
        }

        .twitter:hover{
            svg{
               
                    transition: 0.2s all ease-in-out;
                    fill: #1da1f2;
               
            }
        }

        .facebook:hover{
            svg{               
                transition: 0.2s all ease-in-out;
                fill: #3b5998;                
            }
        }

        .youtube:hover{
            svg{                
                transition: 0.2s all ease-in-out;
                fill: #ff0000;               
            }
        }
    }
}

.body{
    padding: 3em
}